In [73]:
import pandas as pd
import os
import numpy as np
total_players_dict ={}


csvpath = os.path.join('..',"Resources","HeroesOfPymoli_data.csv")

#csv_path = "Resources/HeroesOfPymoli_data.csv"
purchase_df = pd.read_csv(csvpath)

purchase_df = purchase_df.dropna()

#print(purchase_df.columns)

#value_df = pd.DataFrame(purchase_df["SN"].value_counts())

#Player Count
total_players = (len(purchase_df["SN"].value_counts()))
total_players_df = pd.DataFrame({"Total Players": total_players}, index = [0])

#total_players_df = pd.DataFrame.from_dict(total_players_dict)
total_players_df

   Total Players
0            576

In [74]:
#print(purchase_df.columns)
#Purchasing Analysis (Total)

# number of unique items

unique_items = (len(purchase_df['Item ID'].unique()))

# average price
#print(purchase_df.columns)
grouped_item_df = purchase_df["Price"]

average_price = (round(grouped_item_df.mean(),2))
revenue =grouped_item_df.sum()
#revenue = revenue.astype(float).map("${:,.2f}".format)
numb_purchases = (purchase_df["Purchase ID"].count())

#make into dataframe
#need to add dollar sign
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],"Average Price": [average_price],"Number of Purchases": [numb_purchases],"Total Revenue":[revenue]})

purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [75]:
#Gender Demographics

gender_count = purchase_df["Gender"].value_counts()

total_gender = purchase_df["Gender"].describe()

#total_gender

In [76]:
#purchase_df.groupby('Gender').count()

In [77]:
#purchase_df['Gender'].unique()

In [78]:
#counts = purchase_df['Gender'].value_counts()

In [79]:
#percent = purchase_df['Gender'].value_counts(normalize = True)*100

In [80]:
#counts

In [81]:
#test, come back too
sn_group =purchase_df.groupby(["SN"])
#gender_sn = sn_group['Gender'].value_counts()
#gender_sn
sn_group = sn_group.max()
new_count = sn_group["Gender"].value_counts()
new_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [142]:
percent = sn_group["Gender"].value_counts(normalize = True)*100
percent = percent.map("{:.2f}%".format)
percent

Male                     84.03%
Female                   14.06%
Other / Non-Disclosed     1.91%
Name: Gender, dtype: object

In [144]:
#df = pd.concat([new_count, percent], axis=1)
gender_count_summary = pd.DataFrame({"Total Count":new_count, "Percentage of Players":percent})
gender_count_summary

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [85]:
purchase_df.columns

gender_purchase = purchase_df.groupby(["Gender"])
purchase_count = gender_purchase["Purchase ID"].count()

In [86]:
avg_price = gender_purchase["Price"].mean()
#avg_price = round(avg_price,2)

avg_price = avg_price.map("${:.2f}".format)

In [147]:
purchase_val = gender_purchase["Price"].sum()
avg_total_gender_purch = (purchase_val/new_count).map("${:.2f}".format)
purchase_val = (gender_purchase["Price"].sum()).map("${:.2f}".format)
#avg_total_gender_purch

Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
dtype: object

In [148]:
gender_purchase_summary = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":avg_price, "Total Purchase Value":purchase_val, "Avg Total Purchase per Person":avg_total_gender_purch})
gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [149]:
#purchase_df["Age"].count

bins = [0,10,14,19,24,29,34,39,40]

group_labels = ["<10","11-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_df["Age_Range"] = pd.cut(purchase_df["Age"],bins, labels=group_labels)
#purchase_df.head()

In [150]:
age_group = purchase_df.groupby("Age_Range")

total_count = age_group["Age"].count()
total_count_percent =total_count.value_counts(normalize = True)*100
age_percent = round(total_count/purchase_df["Age"].count()*100,2).astype(float).map("{0:.2f}%".format)
total_count

Age_Range
<10       32
11-14     19
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Age, dtype: int64

In [151]:
age_summary = pd.DataFrame({"Total Count":total_count,"Percentage of Players":age_percent})
age_summary

           Total Count Percentage of Players
Age_Range
<10                 32                 4.10%
11-14               19                 2.44%
15-19              136                17.44%
20-24              365                46.79%
25-29              101                12.95%
30-34               73                 9.36%
35-39               41                 5.26%
40+                  6                 0.77%

In [152]:
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age_Range'],
      dtype='object')

In [153]:
#define purchase analysis
age_avg_price = age_group["Price"].mean()
#type(age_avg_price)
age_avg_price = round(age_avg_price,2)
#type(age_avg_price)
age_avg_price = age_avg_price.map("${0:.2f}".format)


age_total_purch = (age_group["Price"].sum())
#.map("${0:.2f}".format)
age_purch_count = age_group["Purchase ID"].count()
#avg total purchase per person. Divide Total Purchase value by previous count of # in age range
avg_purch_person = age_total_purch/total_count
age_total_purch = (age_group["Price"].sum()).map("${0:.2f}".format)
avg_purch_person = avg_purch_person.map("${0:.2f}".format)

In [154]:
#combine into summary
age_purchase_summary = pd.DataFrame({"Purchase Count": age_purch_count,"Average Purchase Price":age_avg_price,"Total Purchase Value":age_total_purch,"Avg Total Purchase per Person":avg_purch_person})
age_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age_Range,,,,
<10,32,$3.40,$108.96,$3.40
11-14,19,$2.68,$50.95,$2.68
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,6,$2.78,$16.71,$2.79