In [246]:
import pandas as pd
import os
total_players_dict ={}


csvpath = os.path.join('..',"Resources","HeroesOfPymoli_data.csv")

#csv_path = "Resources/HeroesOfPymoli_data.csv"
purchase_df = pd.read_csv(csvpath)

purchase_df = purchase_df.dropna()

#print(purchase_df.columns)

#value_df = pd.DataFrame(purchase_df["SN"].value_counts())

#Player Count
total_players = (len(purchase_df["SN"].value_counts()))
total_players_df = pd.DataFrame({"Total Players": total_players}, index = [0])

#total_players_df = pd.DataFrame.from_dict(total_players_dict)
total_players_df

   Total Players
0            576

In [247]:
#print(purchase_df.columns)
#Purchasing Analysis (Total)

# number of unique items

unique_items = (len(purchase_df['Item ID'].unique()))

# average price
#print(purchase_df.columns)
grouped_item_df = purchase_df["Price"]

average_price = round(grouped_item_df.mean(),2)
revenue =(grouped_item_df.sum())
numb_purchases = (purchase_df["Purchase ID"].count())

#make into dataframe
#need to add dollar sign
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],"Average Price": [average_price],"Number of Purchases": [numb_purchases],"Total Revenue":[revenue]})

purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [250]:
#Gender Demographics

gender_count = purchase_df["Gender"].value_counts()

total_gender = purchase_df["Gender"].describe()

#total_gender

In [249]:
#purchase_df.groupby('Gender').count()

In [251]:
#purchase_df['Gender'].unique()

In [252]:
#counts = purchase_df['Gender'].value_counts()

In [253]:
#percent = purchase_df['Gender'].value_counts(normalize = True)*100

In [255]:
#counts

In [256]:
#test, come back too
sn_group =purchase_df.groupby(["SN"])
#gender_sn = sn_group['Gender'].value_counts()
#gender_sn
sn_group = sn_group.max()
new_count = sn_group["Gender"].value_counts()
new_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [257]:
percent = sn_group["Gender"].value_counts(normalize = True)*100
percent = round(percent,2)
percent

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [258]:
df = pd.concat([new_count, percent], axis=1)

In [259]:
df

                       Gender  Gender
Male                      484   84.03
Female                     81   14.06
Other / Non-Disclosed      11    1.91

In [260]:
purchase_df.columns

gender_purchase = purchase_df.groupby(["Gender"])
purchase_count = gender_purchase["Purchase ID"].count()

In [261]:
avg_price = gender_purchase["Price"].mean()
avg_price = round(avg_price,2)

In [262]:
purchase_val = gender_purchase["Price"].sum()

In [263]:
gender_purchase_summary = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":avg_price, "Total Purchase Value":purchase_val})
gender_purchase_summary

## how do i add $?, I add a f string and it gives the source

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

In [264]:
#purchase_df["Age"].count

bins = [0,10,14,19,24,29,34,39,40]

group_labels = ["<10","11-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_df["Age_Count"] = pd.cut(purchase_df["Age"],bins, labels=group_labels)
#purchase_df.head()

In [274]:
age_group = purchase_df.groupby("Age_Count")

total_count = age_group["Age"].count()
total_count_percent =total_count.value_counts(normalize = True)*100
age_percent = round(total_count/purchase_df["Age"].count()*100,2)

In [275]:
age_summary = pd.DataFrame({"Total Count":total_count,"Percentage of Players":age_percent})
age_summary

           Total Count  Percentage of Players
Age_Count
<10                 32                   4.10
11-14               19                   2.44
15-19              136                  17.44
20-24              365                  46.79
25-29              101                  12.95
30-34               73                   9.36
35-39               41                   5.26
40+                  6                   0.77

In [276]:
age_group["Item ID"].count()

Age_Count
<10       32
11-14     19
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Item ID, dtype: int64