In [29]:
import pandas as pd
import os
total_players_dict ={}


csvpath = os.path.join('..',"Resources","HeroesOfPymoli_data.csv")

#csv_path = "Resources/HeroesOfPymoli_data.csv"
purchase_df = pd.read_csv(csvpath)

purchase_df = purchase_df.dropna()

#print(purchase_df.columns)

#value_df = pd.DataFrame(purchase_df["SN"].value_counts())

#Player Count
total_players = (len(purchase_df["SN"].value_counts()))
total_players_df = pd.DataFrame({"Total Players": total_players}, index = [0])

#total_players_df = pd.DataFrame.from_dict(total_players_dict)
total_players_df

   Total Players
0            576

In [30]:
#print(purchase_df.columns)
#Purchasing Analysis (Total)

# number of unique items

unique_items = (len(purchase_df['Item ID'].unique()))

# average price
#print(purchase_df.columns)
grouped_item_df = purchase_df["Price"]

average_price = round(grouped_item_df.mean(),2)
revenue =(grouped_item_df.sum())
numb_purchases = (purchase_df["Purchase ID"].count())

#make into dataframe
#need to add dollar sign
purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],"Average Price": [average_price],"Number of Purchases": [numb_purchases],"Total Revenue":[revenue]})

purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

In [31]:
#Gender Demographics

gender_count = purchase_df["Gender"].value_counts()

total_gender = purchase_df["Gender"].describe()

total_gender

count      780
unique       3
top       Male
freq       652
Name: Gender, dtype: object

In [32]:
purchase_df.groupby('Gender').count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [33]:
purchase_df['Gender'].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [34]:
counts = purchase_df['Gender'].value_counts()

In [35]:
percent = purchase_df['Gender'].value_counts(normalize = True)*100

In [36]:
counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [37]:
percent

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [38]:
df = pd.concat([counts, percent], axis=1)

In [62]:
df

                       Gender     Gender
Male                      652  83.589744
Female                    113  14.487179
Other / Non-Disclosed      15   1.923077

In [63]:
purchase_df.columns

gender_purchase = purchase_df.groupby(["Gender"])
purchase_count = gender_purchase["Purchase ID"].count()

In [68]:
avg_price = gender_purchase["Price"].mean()
avg_price = round(avg_price,2)

In [69]:
purchase_val = gender_purchase["Price"].sum()

In [77]:
gender_purchase_summary = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price":avg_price, "Total Purchase Value":purchase_val})
gender_purchase_summary

## how do i add $?, I add a f string and it gives the source

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

In [91]:
#purchase_df["Age"].count

bins = [0,10,14,19,24,29,34,39,40]

group_labels = ["<10","11-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_df["age_count"] = pd.cut(purchase_df["Age"],bins, labels=group_labels).head()

In [112]:
age_group = purchase_df.groupby("age_count")
age = age_group["Age"].count

In [120]:
age_summary = pd.DataFrame({"Age Group":[age]})
age_summary

                                           Age Group
0  <bound method SeriesGroupBy.count of <pandas.c...